<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <Lunarr__Postgres__Host>192.168.100.5</Lunarr__Postgres__Host>
			<Lunarr__Postgres__Port>5432</Lunarr__Postgres__Port>
			<Lunarr__Postgres__User>abc</Lunarr__Postgres__User>
			<Lunarr__Postgres__Password>abc</Lunarr__Postgres__Password>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>
